@model ApplicationUser

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome @(Model.FullName == null ? "Guest" : Model.FullName)  </h1>
    <h2 class="display-4 mt-5"> ABC Company Leave Managemenet System </h2>
    
</div>
